*~
*.o
*.iml
a.out
*.class
.idea/
.gradle
/llvm/target.llvm/
/llvm/extllvm-prefix/
/llvm/bugvm-llvm.build/
/llvm/bugvm-llvm.xcodeproj/
/llvm/CMakeFiles/
/llvm/CMakeScripts/
/llvm/extclang-prefix/
/llvm/llvm/lib/
/llvm/llvm/bin/
/llvm/target.llvm/
llvm/CMakeCache.txt
llvm/cmake_install.cmake
/vm/target/build
templater/src/main/resources/templates/template-java.tar.gz
templater/src/main/resources/templates/template-scala.tar.gz
.idea/workspace.xml
.DS_Store
build
local.properties
*.hprof