*~
*.o
*.iml
a.out
*.class
.idea/
deploy
/target/
/soot/target/
/ios-sim/build
/llvm/target.llvm/
/llvm/extllvm-prefix/
/llvm/bugvm-llvm.build/
/llvm/bugvm-llvm.xcodeproj/
/llvm/CMakeFiles/
/llvm/CMakeScripts/
/llvm/extclang-prefix/
/llvm/llvm/lib/
/llvm/llvm/bin/
/vm/target/build
/compiler/target/
/dist-compiler/target/
/llvm/target/
/llvm/target.llvm/
/libimobiledevice/target/
/libimobiledevice/extlibxml-prefix/
/libimobiledevice/CMakeFiles/
/libimobiledevice/ext/
/libimobiledevice/extlibimobiledevice-prefix/
/libimobiledevice/extlibplist-prefix/
/libimobiledevice/extlibusbx-prefix/
/libimobiledevice/extlibusbmuxd-prefix/
/rt/target/
/cacerts/target/
/objc/target/
/cocoatouch/target/
/package/target/
/tests/dalvik/bugvm*.env
/tests/libcore/target/
/tests/bugvm/target/
/tests/drlvm/bugvm-vts.env
/tests/drlvm-vts-bundle/
/tests/drlvm/drlvm-vts-bundle/
/tests/libcore/sqliteTest*.db
/tmp/
!/tests/bugvm/src/test/resources/META-INF/**/*.o
llvm/CMakeCache.txt
llvm/cmake_install.cmake
libimobiledevice/cmake_install.cmake
libimobiledevice/CMakeCache.txt
libimobiledevice/Makefile
dependency-reduced-pom.xml

*.versionsBackup

libgdx/libs/ios32/libgdx.a.386

libgdx/libs/ios32/libgdx.a.arm64

libgdx/libs/ios32/libgdx.a.armv7

libgdx/libs/ios32/libgdx.a.x86_64

libgdx/libs/ios32/libgdx.a

templater/src/main/resources/templates/bugvm-java-template.tar.gz

templater/src/main/resources/templates/bugvm-libgdx-template.tar.gz

templater/src/main/resources/templates/bugvm-scala-template.tar.gz

.idea/workspace.xml

.idea/workspace.xml
