*~
*.o
*.iml
a.out
*.class
.*
/target/
/llvm/target.llvm/
/llvm/extllvm-prefix/
/llvm/bugvm-llvm.build/
/llvm/bugvm-llvm.xcodeproj/
/llvm/CMakeFiles/
/llvm/CMakeScripts/
/llvm/extclang-prefix/
/llvm/llvm/lib/
/llvm/llvm/bin/
/vm/binaries/
/vm/target/
/compiler/target/
/compiler-dist/target/
/llvm/target/
/llvm/target.llvm/
/libimobiledevice/target/
/libimobiledevice/extlibxml-prefix/
/libimobiledevice/CMakeFiles/
/libimobiledevice/ext/
/libimobiledevice/extlibimobiledevice-prefix/
/libimobiledevice/extlibplist-prefix/
/libimobiledevice/extlibusbx-prefix/
/libimobiledevice/extlibusbmuxd-prefix/
/rt/target/
/cacerts/target/
/cacerts/full/target/
/objc/target/
/cocoatouch/target/
/package/target/
/dist/target/
/dist/compiler/target/
/dist/package/target/
/tests/dalvik/bugvm*.env
/tests/libcore/target/
/tests/bugvm/target/
/tests/drlvm/bugvm-vts.env
/tests/drlvm-vts-bundle/
/tests/drlvm/drlvm-vts-bundle/
/tests/libcore/sqliteTest*.db
/tmp/
!/tests/bugvm/src/test/resources/META-INF/**/*.o
llvm/CMakeCache.txt
llvm/cmake_install.cmake
libimobiledevice/cmake_install.cmake
libimobiledevice/CMakeCache.txt
libimobiledevice/Makefile
compiler-dist/dependency-reduced-pom.xml
/bin/ios-sim
/bin/libhfscompressor.dylib
